@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
/* Начало Обнуления */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Конец Обнуления */
body {
  font-family: "Roboto", sans-serif;
}

.wraper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px;
}

.header {
  background: url(../img/header/bg/bg_header.png) 50%/cover no-repeat;
  color: #fff;
}

.header__stiker_line {
  position: fixed;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0 100px 0;
  position: relative;
}

.header__logo .header__chengLanguage {
  position: absolute;
  right: 0;
  top: 40px;
}

.header__logo .header__chengLanguage a {
  color: #fff;
}

.header__logo .header__chengLanguage a:hover {
  font-weight: 900;
  color: black;
}

.header__logo .header__chengLanguage a:active {
  color: #353535;
}

.header__content {
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.header__content .header__name {
  font-size: 100px;
  font-weight: 900;
  margin: 0 0 26px 0;
}

.header__content .header__slogan {
  margin: 0 0 26px 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 38px;
}

.header__content .header__button {
  position: relative;
  margin: 0 auto;
  width: 170px;
  padding: 5px 0;
  border: 2px solid #fff;
  border-radius: 6px;
}

.header__content .header__button a {
  padding: 2px 32px;
  color: #fff;
  font-size: 20px;
}

.header__content .header__button:hover {
  border: 2px solid #000;
}

.header__content .header__button:hover a {
  color: #000;
}

.header__content .header__button:active {
  border: 2px solid #353535;
}

.header__content .header__button:active a {
  color: #353535;
}

.header__menu {
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu .header__navigation .header__items .menu__item {
  margin: 0 0 12px 0;
}

.header__menu .header__navigation .header__items .menu__item span {
  font-size: 8px;
}

.header__menu .header__navigation .header__items .menu__item a {
  color: #fff;
}

.header__menu .header__navigation .header__items .menu__item:hover {
  color: #000;
}

.header__menu .header__navigation .header__items .menu__item:hover a {
  color: #000;
}

.header__menu .header__navigation .header__items .menu__item:active {
  color: #353535;
}

.header__menu .header__navigation .header__items .menu__item:active a {
  color: #353535;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.popup .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup .popup__body .popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.popup .popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup .popup__body .popup__content .popup_title {
  font-size: 40px;
  padding: 0 0 30px 0;
}

.popup .popup__body .popup__content .popup_text {
  font-size: 24px;
}

.popup:target {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .container__gradient {
  background: #d3560e;
  background: linear-gradient(30deg, #d3560e 0%, #ff8000 100%);
}

.main .container {
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Слайд активный (показывается) */
  /* Слайд основной */
}

.main .container .works__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 50px 0 30px 0;
}

@media (max-width: 767px) {
  .main .container .works__title {
    padding: 0px 0 30px 0;
  }
}

.main .container .cards__title {
  font-weight: 300;
  font-size: 20px;
  padding: 2px 0 0 0;
}

.main .container .works {
  margin: 40px 0;
}

.main .container .works .works__cards {
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.main .container .works .works__cards .reviews_cards__slider {
  /* Стрелка влево */
  /* Стрелка вправо */
}

.main .container .works .works__cards .reviews_cards__slider .slick-arrow.slick-prev {
  left: 175px;
  top: -30px;
  background: url(../img/main/icons/left_whight_icon.png) 9px 10px no-repeat;
  padding: 13px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 0;
}

@media (max-width: 767px) {
  .main .container .works .works__cards .reviews_cards__slider .slick-arrow.slick-prev {
    left: 65px;
    top: -25px;
  }
}

.main .container .works .works__cards .reviews_cards__slider .slick-arrow.slick-prev:hover {
  background: url(../img/main/icons/left_icon_black.png) 9px 10px no-repeat;
  border: 1px solid #000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .container .works .works__cards .reviews_cards__slider .slick-arrow.slick-next {
  right: 175px;
  top: -30px;
  background: url(../img/main/icons/right_whight_icon.png) 10px 10px no-repeat;
  padding: 13px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 0;
}

@media (max-width: 767px) {
  .main .container .works .works__cards .reviews_cards__slider .slick-arrow.slick-next {
    right: 65px;
    top: -25px;
  }
}

.main .container .works .works__cards .reviews_cards__slider .slick-arrow.slick-next:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: url(../img/main/icons/right_icon_black.png) 10px 10px no-repeat;
  border: 1px solid #000;
}

.main .container .works .works__cards .button {
  position: relative;
  margin: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*.button__left {
						background: url(../../img/main/icons/left_icon.png) 9px 10px no-repeat;
						padding: 13px;
						border: 1px solid #ff8000;
						border-radius: 15px;
						transition: transform 0.2s;
					}
					.button__left:hover{
						background: url(../../img/main/icons/left_icon_black.png) 9px 10px no-repeat;
						border: 1px solid #000;
						transform: scale(1.05);
					}
					.button__left:active{
						background: url(../../img/main/icons/left_icon_gray.png) 9px 10px no-repeat;
						border: 1px solid rgb(53, 53, 53);
					}*/
  /*.button__right{
						background: url(../../img/main/icons/right_icon.png) 10px 10px no-repeat;
						padding: 13px;
						border: 1px solid #ff8000;
						border-radius: 15px;
						transition: transform 0.2s;
					}
					.button__right:hover{
						transform: scale(1.05);

						background: url(../../img/main/icons/right_icon_black.png) 10px 10px no-repeat;
						border: 1px solid #000;
					}
					.button__right:active{
						background: url(../../img/main/icons/right_icon_gray.png) 10px 10px no-repeat;
						border: 1px solid rgb(53, 53, 53);
					}*/
}

.main .container .works .works__cards .button .cards__title {
  font-weight: 300;
  font-size: 20px;
  padding: 2px 0 0 0;
}

.main .container .works .works__cards .cards__slider, .main .container .works .works__cards .reviews_cards__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.main .container .works .works__cards .cards__slider .slick-arrow, .main .container .works .works__cards .reviews_cards__slider .slick-arrow {
  position: absolute;
}

.main .container .works .works__cards .cards__slider .cards__items, .main .container .works .works__cards .reviews_cards__slider .cards__items {
  min-width: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container .works .works__cards .cards__slider .cards__items .cards__item, .main .container .works .works__cards .reviews_cards__slider .cards__items .cards__item {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  min-width: 0;
  width: 170px;
  height: 274px;
  border-radius: 10px;
  margin: 30px 15px;
  -webkit-box-shadow: 0px 3px 5.7px 0.3px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 3px 5.7px 0.3px rgba(0, 0, 0, 0.28);
}

.main .container .works .works__cards .cards__slider .cards__items .cards__item .item__picture, .main .container .works .works__cards .reviews_cards__slider .cards__items .cards__item .item__picture {
  width: 170px;
  height: 220px;
  background: url(../img/main/1_cards_img/card_img_1.png) no-repeat;
}

.main .container .works .works__cards .cards__slider .cards__items .cards__item .item__line, .main .container .works .works__cards .reviews_cards__slider .cards__items .cards__item .item__line {
  margin: 10px auto;
  width: 140px;
  border: 1px solid #d0d0d0;
}

.main .container .works .works__cards .cards__slider .cards__items .cards__item .item__name, .main .container .works .works__cards .reviews_cards__slider .cards__items .cards__item .item__name {
  text-align: center;
}

.main .container .works .works__cards .cards__slider .cards__items .cards__item:hover, .main .container .works .works__cards .reviews_cards__slider .cards__items .cards__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 8px 10px 0.8px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 8px 10px 0.8px rgba(0, 0, 0, 0.28);
}

.main .container .works .works__cards .cards__slider .cards__items .cards__item:active, .main .container .works .works__cards .reviews_cards__slider .cards__items .cards__item:active {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-box-shadow: 0px 3px 5px 0.3px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 3px 5px 0.3px rgba(0, 0, 0, 0.28);
}

.main .container .works .works__cards .slick-list {
  overflow: hidden;
}

.main .container .works .works__cards .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .works .works__cards .slick-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
}

.main .container .works .works__cards .slick-arrow.slick-prev {
  left: 175px;
  top: -30px;
  background: url(../img/main/icons/left_icon.png) 9px 10px no-repeat;
  padding: 13px;
  border: 1px solid #ff8000;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 0;
}

@media (max-width: 767px) {
  .main .container .works .works__cards .slick-arrow.slick-prev {
    left: 65px;
    top: -25px;
  }
}

.main .container .works .works__cards .slick-arrow.slick-prev:hover {
  background: url(../img/main/icons/left_icon_black.png) 9px 10px no-repeat;
  border: 1px solid #000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .container .works .works__cards .slick-arrow.slick-next {
  right: 175px;
  top: -30px;
  background: url(../img/main/icons/right_icon.png) 10px 10px no-repeat;
  padding: 13px;
  border: 1px solid #ff8000;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 0;
}

@media (max-width: 767px) {
  .main .container .works .works__cards .slick-arrow.slick-next {
    right: 65px;
    top: -25px;
  }
}

.main .container .works .works__cards .slick-arrow.slick-next:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: url(../img/main/icons/right_icon_black.png) 10px 10px no-repeat;
  border: 1px solid #000;
}

.main .container .proces__work {
  text-align: center;
  height: 100%;
}

.main .container .proces__work h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 50px 0 30px 0;
  color: #fff;
}

@media (max-width: 767px) {
  .main .container .proces__work h2 {
    margin: 30px 0 0 0;
  }
  .main .container .proces__work h2 h2 {
    color: #fff;
  }
}

.main .container .proces__work h3 {
  font-weight: 300;
  font-size: 20px;
  padding: 2px 0 0 0;
  color: #fff;
}

.main .container .proces__work .proces__items {
  margin: 20px 0 80px 0;
}

@media (max-width: 767px) {
  .main .container .proces__work .proces__items {
    margin: 0;
  }
}

.main .container .proces__work .proces__items .proces__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0 0 0;
  text-align: left;
  color: #fff;
}

@media (max-width: 767px) {
  .main .container .proces__work .proces__items .proces__item {
    margin: 40px 0 0 0;
  }
}

.main .container .proces__work .proces__items .proces__item span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 10px 0;
}

.main .container .proces__work .proces__items .proces__item p {
  font-weight: 100;
  line-height: 19px;
}

.main .container .proces__work .proces__items .proces__item .item__content {
  width: 128px;
  margin: 0 20px 0 60px;
  position: relative;
}

.main .container .proces__work .proces__items .proces__item .item__content img {
  position: absolute;
  top: -36px;
  opacity: 0.1;
}

.main .container .proces__work .proces__items .proces__item .item__content .proces__img_1 {
  left: -30px;
}

.main .container .proces__work .proces__items .proces__item .item__content .proces__img_2 {
  left: -40px;
}

.main .container .proces__work .proces__items .proces__item .item__content .proces__img_3 {
  left: -40px;
}

.main .container .proces__work .proces__items .proces__item .item__content .proces__img_4 {
  left: -46px;
}

@media (max-width: 767px) {
  .main .container .proces__work .proces__items .proces__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .container .proces__work .proces__items .proces__item .item__content {
    margin: 20px 40px 80px 80px;
  }
}

.main .container .reviews__title {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 40px 0 10px 0;
}

@media (max-width: 767px) {
  .main .container .reviews__title {
    padding: 0px 0 30px 0;
  }
}

.main .container .reviews_cards__slider {
  margin: 0 auto;
  width: 670px;
  height: 260px;
  /* Слайд основной */
}

@media (max-width: 767px) {
  .main .container .reviews_cards__slider {
    width: 300px;
    height: 220px;
  }
}

.main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item {
  position: relative;
  text-align: center;
  width: 340px;
  height: 180px;
  margin: 20px -60px 40px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 6;
}

.main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__content {
  position: absolute;
  padding: 0 20px;
  line-height: 22px;
  top: 58px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__picture_1 {
  position: absolute;
  background: #000 url("../img/main/4_reviews_img/reviews_1.png") center no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -35px;
  left: 134px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__picture_2 {
  position: absolute;
  background: #000 url("../img/main/4_reviews_img/reviews_2.png") center no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -35px;
  left: 134px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__name {
  position: relative;
  top: 222px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item {
    position: relative;
    text-align: center;
    width: 240px;
    height: 160px;
    margin: 20px 2px 20px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__content {
    position: absolute;
    padding: 0 10px;
    top: 40px;
    line-height: 20px;
    font-size: 13px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__picture_1 {
    position: absolute;
    background: #000 url("../img/main/4_reviews_img/reviews_1.png") center/50% no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: -26px;
    left: 95px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__picture_2 {
    position: absolute;
    background: #000 url("../img/main/4_reviews_img/reviews_2.png") center/50% no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: -25px;
    left: 95px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .main .container .reviews_cards__slider .slick-slide.slick-current .reviews__item .reviews__name {
    position: relative;
    top: 190px;
    color: #fff;
    font-size: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.main .container .reviews_cards__slider .slick-slide .reviews__item {
  position: relative;
  text-align: center;
  width: 220px;
  height: 120px;
  margin: 20px 2px 80px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.main .container .reviews_cards__slider .slick-slide .reviews__item .reviews__content {
  position: absolute;
  padding: 0 5px;
  top: 40px;
  line-height: 14px;
  font-size: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .reviews_cards__slider .slick-slide .reviews__item .reviews__picture_1 {
  position: absolute;
  background: #000 url("../img/main/4_reviews_img/reviews_1.png") center/50% no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: -26px;
  left: 86px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .reviews_cards__slider .slick-slide .reviews__item .reviews__picture_2 {
  position: absolute;
  background: #000 url("../img/main/4_reviews_img/reviews_2.png") center/50% no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: -25px;
  left: 86px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .reviews_cards__slider .slick-slide .reviews__item .reviews__name {
  position: relative;
  top: 152px;
  color: #fff;
  font-size: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main .container .slick-slide.slick-current {
  /*position: relative;
			text-align: center;
			width: 380px;
			height: 200px;
			margin: 40px 10px 60px;
			background-color: #fff;
			border-radius: 10px;*/
}

.main .price__container {
  text-align: center;
}

.main .price__container .price__content {
  margin: 0 0 80px 0;
}

.main .price__container .price__content span {
  font-weight: 100;
}

@media (max-width: 767px) {
  .main .price__container .price__content {
    padding: 30px;
    margin: 0;
  }
}

.main .price__container .price__content .content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .main .price__container .price__content .content__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 0 20px 0;
  }
}

.main .price__container .price__content .content__items .content__item {
  padding: 60px 40px 50px;
}

@media (max-width: 767px) {
  .main .price__container .price__content .content__items .content__item {
    padding: 30px 110px 20px;
  }
}

.footer .footer__content {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .footer__content img {
    margin: 0 auto;
  }
  .footer .footer__content p {
    padding: 5px 0;
  }
}

.footer .footer__content .number__phone {
  margin: 14px 0 0 0;
}

.footer .footer__content .footer__navigation {
  margin: 14px 0 0 0;
}

.footer .footer__content .footer__navigation .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer .footer__content .footer__navigation .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer__content .footer__navigation .footer__items li {
  margin: 0 10px;
}

@media (max-width: 767px) {
  .footer .footer__content .footer__navigation .footer__items li {
    padding: 5px 0;
  }
}

.footer .footer__content .footer__navigation .footer__items li span {
  font-size: 10px;
}

.footer .footer__content .footer__navigation .footer__items li a {
  color: #000;
}

.footer .footer__content .footer__navigation .footer__items li a:hover {
  color: #ff8000;
}

.footer .footer__content .footer__navigation .footer__items li li:active {
  color: #353535;
}

.footer .footer__content .footer__links .footer__links_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__content .footer__links .footer__links_items li {
  margin: 0 10px;
}

@media (max-width: 767px) {
  .footer .footer__content .footer__links .footer__links_items li {
    padding: 5px 0;
  }
}

.footer .footer__content .footer__links .footer__links_items li a {
  color: #000;
}

.footer .footer__content .footer__links .footer__links_items li a:hover {
  color: #ff8000;
}

.footer .footer__content .footer__links .footer__links_items li a:active {
  color: #353535;
}

@media (max-width: 767px) {
  .footer .footer__content .footer__links .footer__links_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__item:active {
  color: #353535;
}

.menu__item:active a {
  color: #353535;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    border: 1px solid black;
    max-width: 991px;
    position: relative;
    margin: 0 auto;
    padding: 20px 20px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 767px;
    position: relative;
    margin: 0 auto;
    padding: 10px 10px;
  }
  .container .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0 30px 0;
  }
  .container .header__logo .logo {
    position: relative;
    z-index: 4;
  }
  .container .header__logo .header__chengLanguage {
    margin: -12px 60px;
  }
  .container .header__logo .header__chengLanguage a {
    color: #fff;
  }
  .container .header__logo .header__chengLanguage a:hover {
    font-weight: 900;
    color: black;
  }
  .container .header__logo .header__chengLanguage a:active {
    color: #353535;
  }
  .container .header__burger_wraperBG {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 15px;
    top: 19px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff8000;
    z-index: 4;
  }
  .container .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .container .header__burger:before,
  .container .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .container .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .container .header__burger:before {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .container .header__burger:after {
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .container .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .container .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .container .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .container .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #a35302;
    z-index: 1;
  }
  .container .header__menu.active {
    top: 0;
    margin: 0 40px 0 0;
  }
  .container .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    font-size: 20px;
  }
  .container .header__button {
    position: relative;
    margin: 0 auto;
    width: 170px;
    padding: 5px 0 20px 0;
    border: 2px solid #fff;
    border-radius: 6px;
  }
  .container .header__button a {
    padding: 2px 32px;
    color: #fff;
    font-size: 20px;
  }
  .container .header__button:hover {
    border: 2px solid #000;
  }
  .container .header__button:hover a {
    color: #000;
  }
  .container .header__button:active {
    border: 2px solid #353535;
  }
  .container .header__button:active a {
    color: #353535;
  }
  .container .header__content {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto 30px;
  }
  .container .header__content .header__name {
    font-size: 80px;
    font-weight: 900;
    margin: 0 0 26px 0;
  }
  .container .header__content .header__slogan {
    margin: 0 0 26px 0;
    font-size: 30px;
    font-weight: 100;
    line-height: 38px;
  }
  .container .header__content .header__button {
    position: relative;
    margin: 0 auto;
    width: 170px;
    padding: 5px 0;
    border: 2px solid #fff;
    border-radius: 6px;
  }
  .container .header__content .header__button a {
    padding: 2px 32px;
    color: #fff;
    font-size: 20px;
  }
  .container .header__content .header__button:hover {
    border: 2px solid #000;
  }
  .container .header__content .header__button:hover a {
    color: #000;
  }
  .container .header__content .header__button:active {
    border: 2px solid #353535;
  }
  .container .header__content .header__button:active a {
    color: #353535;
  }
  .container .heder__line {
    display: none;
  }
  .works__cards {
    max-width: 400px;
    margin: 0 auto;
  }
}
